<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luc6.wbscan">

    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Scan_Wifi_Activity"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".Scan_Bluetooth_Activity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About_Activity"
            android:label="About" />
        <activity
            android:name=".Info_Activity"
            android:label="Info" />
        <activity
            android:name=".Locate_Wifi_Activity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
    </application>

</manifest>